<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body>
    <div>
        <h1><a href="">Tecnology Blog</a></h1>
        <p>Publicado recentemente.</p>
    </div>

    <div>
        <h2><a href="">Meu Primeiro Post</a></h2>
        <p>Teoria geral e/ou estudo sistemático sobre técnicas, processos, métodos, meios e instrumentos de um ou mais ofícios ou domínios da atividade humana (p.ex., indústria, ciência etc.).</p>
    </div>

    <div>
        <h2><a href="">Meu segundo Post</a></h2>
        <p>Existe um equilíbrio grande entre as vantagens e as desvantagens que o avanço da tecnologia traz para a sociedade. A principal vantagem é refletida na produção industrial: a tecnologia torna a produção mais rápida e maior e, sendo assim, o resultado final é um produto mais barato e com maior qualidade.</p>
    </div>
</body>
</html>